.AppNew{
  display: flex;
  justify-content: space-around;
  background-color: grey;
  
}
.block{
  background-color: black;
  padding: 20px;
  color: bisque;
}
.block-category{
  background-color: black;
  padding: 20px;
  color: bisque;
}
.picture{
  width: 330px;
  height: 330px;
}
.shopnewh2{
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0px;
  color: #fff;
}

.categoryButton:hover {
  background-color: #fdeb6b;
  color: black;
  ;
}
.categoryButtonSelected {
  background-color: green;
}
p{
  color: #fff;
  margin: 0px;
  padding: 10px;
  font-weight: 500;
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
}
.icon-bin{
  width: 20px;
  margin-bottom: 25px;
}
.buttonBlock{
  display: flex;
  justify-content: space-between;
  font-family: "Bebas Neue", sans-serif;
}
.btn-new {
  font-weight: bold;
  font-size: large;
  width: 60px;
  border-radius: 10px;
  color: black;
  transition: .2s linear;
  background: white;
}

.btn-new:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}
.btn-new-add-favorite{
  padding: 10px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  color: black;
  transition: .2s linear;
  background: red;
}
.btn-new-add-favorite:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px red;
}
.btn-new-add-cart{
  padding: 10px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  color: black;
  transition: .2s linear;
  background: orangered;
}
.btn-new-add-cart:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px orangered;
}
span{
  display: flex;
  justify-content: center;
  margin-top: -7px;
}
/* -----SHOP-------- */
.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background-color: grey;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 16%;
}

/* .product-info{
  display: flex;
  justify-content: center;
} */

body {
  background-color: grey;
}

.cont {
  display: flex;
  justify-content: center
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background{
  background-color: grey;
  height: 100vh;
  margin-top: 0px;
}

.back {
background-color: black;
color: rgb(9, 9, 152);
padding: 20px;
margin-left: 20px;
margin-right: 20px;
font-family: "Bebas Neue", sans-serif;
}

.change {
background-color: black;
color: white;
padding: 10px;
border: none;
font-size: 30px;
font-family: "Bebas Neue", sans-serif;
}

h4 {
font-family: "Bebas Neue", sans-serif;
}

h3{
font-size: 30px;
font-family: "Bebas Neue", sans-serif;
}

h2 {
font-family: "Bebas Neue", sans-serif;
font-size: 40px;
}

button {
margin: 10px;

}

nav {
background-color: black;
display: flex;
justify-content: center;
}

.link {
padding: 40px 80px;
text-decoration: none;
color: white;
text-transform: uppercase;
font-size: 30px;
font-family: "Bebas Neue", sans-serif;
}
/* -----SHOP-------- */

/* --------OURWORKS-------- */
.container {
display: flex;
justify-content: center;
background-color:grey;
margin-top: 0px;
}

.previousExample, .nextExample {
background-color: black;
color: #fff;
padding: 10px;
border: white;
text-transform: uppercase;
margin: 0px;
width: 90px;
font-weight: bold;
font-family: "Bebas Neue", sans-serif;
font-size: 25px;
}



/* --------OURWORKS-------- */

/* -----------CONTACT------------ */
.contact{
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 0px;
  color: black;
  font-weight: 500;
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
}
h1{
  margin-bottom: 30px;
  font-size: 50px;
}
/* -----------CONTACT------------ */
/* -----------ABOUT------------ */
.about{
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0px;
  color: black;
  font-weight: 500;
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  
}

/* -----------ABOUT------------ */

@media all and (max-width:1200px) {
  .link{
    padding: 25px 33px;
    font-size: 20px;
  }
  .about{
    padding: 10px;
    font-size: 17px;
  }
  h1{
    font-size: 30px;
  }
  p{
    font-size: 15px;
  }
  img{
    width: 300px;
  }
  .previousExample {
width: 70px;
font-size: 12px;
font-weight: 500;
  }
  .nextExample{
  width: 95px;
  font-size: 20px;
  font-weight: 500;
  }
  .back{
    font-size: 20px;
  }
  .change{
    font-size: 20px;
  }
  .imageShop{
    width: 170px;
    height: 270px;
  }
   .product-info{
    font-size: 25px;
   }
   .favoriteIcon,.cartIcon{
    width: 20px;
   }
   .picture{
    width: 110px;
    height: 110px;
   }
   h2{
   font-size: 15px;
   }
   h3{
    font-size:12px
   }
   .shirtMobile{
    display: flex;
    justify-content: center;
    flex-direction: column;
   }
   .btn-new {
    font-weight: bold;
    font-size: medium;
    width: 25px;
   }
  .btn-new-add-favorite,.btn-new-add-cart {
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
  }
  .cartFavPar{
    font-size: 10px;
  }
  .block-category {
      padding: 5px;
    }

}