
/* -----SHOP-------- */
.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background-color: grey;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 16%;
}

/* .product-info{
  display: flex;
  justify-content: center;
} */

body {
  background-color: grey;
}

.cont {
  display: flex;
  justify-content: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background{
  background-color: grey;
  height: 100vh;
  margin-top: 0px;
}

.back {
background-color: black;
color: rgb(9, 9, 152);
padding: 20px;
margin-left: 20px;
margin-right: 20px;
font-family: "Bebas Neue", sans-serif;
}

.change {
background-color: black;
color: white;
padding: 10px;
border: none;
font-size: 30px;
font-family: "Bebas Neue", sans-serif;
}

h4 {
font-family: "Bebas Neue", sans-serif;
}

h3{
font-size: 30px;
font-family: "Bebas Neue", sans-serif;
}

h2 {
font-family: "Bebas Neue", sans-serif;
font-size: 40px;
}

button {
margin: 10px;
}

nav {
background-color: black;
display: flex;
justify-content: center;
}

.link {
padding: 40px 80px;
text-decoration: none;
color: white;
text-transform: uppercase;
font-size: 30px;
font-family: "Bebas Neue", sans-serif;
}
/* -----SHOP-------- */

/* --------OURWORKS-------- */
.container {
display: flex;
justify-content: center;
background-color:grey;
margin-top: 0px;
}

.previousExample, .nextExample {
background-color: black;
color: #fff;
padding: 10px;
border: white;
text-transform: uppercase;
margin: 0px;
width: 90px;
font-weight: bold;
font-family: "Bebas Neue", sans-serif;
font-size: 25px;
}
p{
  color: black;
  font-weight: 500;
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
}


/* --------OURWORKS-------- */

/* -----------CONTACT------------ */
.contact{
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 0px;
}
h1{
  margin-bottom: 30px;
  font-size: 50px;
}
/* -----------CONTACT------------ */
/* -----------ABOUT------------ */
.about{
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0px;
  
}

/* -----------ABOUT------------ */

@media all and (max-width:1200px) {
  .link{
    padding: 25px 33px;
    font-size: 20px;
  }
  .about{
    padding: 10px;
    font-size: 17px;
  }
  h1{
    font-size: 30px;
  }
  p{
    font-size: 15px;
  }
  img{
    width: 300px;
  }
  .previousExample {
width: 70px;
font-size: 12px;
font-weight: 500;
  }
  .nextExample{
  width: 95px;
  font-size: 20px;
  font-weight: 500;
  }
  .back{
    font-size: 20px;
  }
  .change{
    font-size: 20px;
  }
  .imageShop{
    width: 170px;
    height: 270px;
  }
   .product-info{
    font-size: 25px;
   }
     
}